<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-2 col-md-offset-1">
        <p class="text-muted text-left "><a href="{{ site.data.global.url }}">{{ site.data.global.footer_text | markdownify }}</a></p>
      </div>

      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <a class="section-jump" href="#top">
          <i class="fa fa-angle-up fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

</div>
<!-- .main.container -->

<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ site.data.global.url }}js/wow.min.js"></script>
<script src="{{ site.data.global.url }}js/app.js"></script>

<script>
  // var dataJson = {
  //   'source': 'eland-rd4',
  //   'trackType': 'view',
  //   'targetType': 'usual'
  // };
  var dataJson = {
    'source': 'eland-jasonlin',
    'trackType': 'view',
    'targetType': 'usual',
    'ecInfo' : {
      'memberID': 'e12345678'
    }
  };
  ElandTracker.Track(dataJson);

  // setTimeout(function() {
  //   'use strict';
  //   var iframe_data = document.createElement('iframe');
  //   var urlValue = "//dmp.eland-tech.com/receivertesting/dataflush";
  //
  //   iframe_data.setAttribute("src", urlValue);
  //   iframe_data.style.width = 0 + "px";
  //   iframe_data.style.height = 0 + "px";
  //   iframe_data.style.border = 0 + "px";
  //   iframe_data.style.display = "none";
  //
  //   if (document.body) {
  //       document.body.appendChild(iframe_data);
  //   } else if (document.head) {
  //       document.head.appendChild(iframe_data);
  //   } else {
  //       // do nothing
  //   }
  // }, 5000);
</script>
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-74796630-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- <iframe src="https://dmp.eland-tech.com/dmpreceiver/viewreceiver?DMP_SR=eland-rd4&amp;target=usual&amp;url=http%3A%2F%2Fcslin0915.github.io%2F&amp;refer_url=&amp;platform=PC&amp;os=Windows&amp;browser=Chrome&amp;subDomain=Web-Index&amp;adSrTag=abc&amp;ad_id=cdf&amp;ce=1" style="width: 0px; height: 0px; border: 0px; display: none;"></iframe> -->
<!-- <iframe src='//pplv.catchup.com.tw/patterns/rosomon/dibbie/sibik/bakynge/agobard/ditullio/justifi/' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='//pplv.catchup.com.tw/patternstesting/kose/cresa/nwhat/tlace/biko/acacius/rounga/' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='//dmp.eland-tech.com/dmpreceiver/uid_transfer.jsp?callback=eland-rd4-01&tno=abcdefg&isNeedToStore=1' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='//dmp.eland-tech.com/dmpreceiver/uid_transfer.jsp?callback=urad-dmp-dev&tno=66cf6643684f4c83f4147f70004a1aba' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='//dmp.eland-tech.com/receivertesting/uid_transfer.jsp?callback=eland-rd4-02&tno=abcdefg&hasProfile=1' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='//dmp.eland-tech.com/receivertesting/uid_transfer.jsp?callback=eland-rd4-02&tno=abcdefg&isNeedToStore=1' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='{{ site.data.global.url }}myTests/fingerprint_test.html' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
<!-- <iframe src='//dmp.eland-tech.com/receivertesting/uid_transfer_with_fp_testing.jsp?target=dmp.eland-tech.com/receivertesting/uidreceiver' style='width:0px;height:0px;border:0px none;display:none;'></iframe> -->
</body>

</html>
