<div class="content">
<h3 class="title"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-{{post.project_role}} fa-stack-1x fa-inverse"></i>
</span>{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {%if post.project_link != empty %}
  <a href="{{ post.project_link }}" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {%if post.website_link != empty %}
  <a href="{{ post.website_link }}" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-globe fa-lg"></i>{{post.website_text}}</button></a>
  {% endif %}

  {%if post.data_link != empty %}
  <a href="{{ post.data_link }}" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-table fa-lg"></i>{{post.data_text}}</button></a>
  {% endif %}

  {% if post.categories != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
